<a href="https://colab.research.google.com/github/PythonJulianPrieto/CienciaDeDatos/blob/main/EjerciciosNumpy_Numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Práctica de la librería Numpy

En este notebook, se desarrollarán una serie de tareas utilizando la librería Numpy (Numerical Python).

Se proponen y documentan posibles formas de resolver los ejercicios, pero las mismas no son únicas.

Siempre es una buena idea verificar la [Documentación Oficial de Numpy](https://numpy.org/devdocs/user/index.html), donde es posible encontrar todo tipo de información referida a esta librería. Y si te quedas trabado, busca en Google "como hacer [algo] con Numpy". Hay enormes probabilidades de que esa pregunta ya haya sido respondida!

In [9]:
# Importamos Numpy con su abreviación "np"
import numpy as np

In [77]:
# Podemos crear arrays de una dimensión con la función np.array()
array_unidim = np.array([1,2,3,4,5])
# O un array de dos dimensiones (bidimensional)
array_dosdimensiones = np.array([[1,2,3,4,5],[1,2,3,4,5]])
# O un array de tres dimensiones (tridimensional)
array_tresdimensiones = np.array([[[1,2,3,4,5],[1,2,3,4,5],[1,2,3,4,5]]])

Para cada uno de estos arrays, podemos obtener sus propiedades, tales como su "forma", número de dimensiones, tipos de datos y tamaño.

In [16]:
# Atributos del array unidimensional (forma, número de dimensiones, tipos de datos, tamaño, y tipo)
array_unidim.shape, array_unidim.ndim, array_unidim.dtype, array_unidim.size, type(array_unidim)

((5,), 1, dtype('int64'), 5, numpy.ndarray)

In [17]:
# Atributos del array bidimensional
array_dosdimensiones.shape, array_dosdimensiones.ndim, array_dosdimensiones.dtype, array_dosdimensiones.size, type(array_dosdimensiones)

((2, 5), 2, dtype('int64'), 10, numpy.ndarray)

In [18]:
# Atributos del array tridimensional
array_tresdimensiones.shape, array_tresdimensiones.ndim, array_tresdimensiones.dtype, array_tresdimensiones.size, type(array_tresdimensiones)

((1, 3, 5), 3, dtype('int64'), 15, numpy.ndarray)

In [20]:
# Importamos pandas como pd, y creamos un DataFrame a partir del array bidimensional
import pandas as pd

In [25]:
# Creamos un array de tamaño 4x3, formado únicamente por unos (1)
unos = np.ones((4,3))
unos

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [27]:
# Creamos un array de tamaño 2x4x3, formado únicamente por ceros (0)
cero = np.zeros((2,4,3))
cero

array([[[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]]])

In [29]:
# Creamos un array de números en el rango de 0 a 100, con un paso de 5
numeros = np.arange(0,101,5)
numeros

array([  0,   5,  10,  15,  20,  25,  30,  35,  40,  45,  50,  55,  60,
        65,  70,  75,  80,  85,  90,  95, 100])

In [32]:
# Creamos un array de números aleatorios enteros comprendidos en entre 0 y 10, de tamaño (2, 5)
random = np.random.randint(0,10,(2,5))
random

array([[5, 4, 0, 3, 7],
       [0, 4, 2, 1, 3]])

In [34]:
# Creamos un array de números aleatorios decimales comprendidos en entre 0 y 1, de tamaño (3, 5)
random2 = np.random.random((3,5))
random2

array([[0.51485845, 0.93231381, 0.15583373, 0.53114071, 0.15649823],
       [0.68134443, 0.65820888, 0.70642895, 0.58800081, 0.06297546],
       [0.60736897, 0.34270648, 0.00937575, 0.00614988, 0.87107193]])

In [36]:
# Establecemos la "semilla" de números aleatorios en 27
np.random.seed(27)
# Creamos un array de números aleatorios enteros comprendidos en entre 0 y 10, de tamaño (3, 5)
random = np.random.randint(0,10,(3,5))
random

array([[3, 8, 8, 8, 0],
       [5, 8, 9, 1, 2],
       [1, 1, 4, 6, 3]])

¿Qué ocurre al correr la última celda nuevamente, a diferencia de las anteriores?

In [37]:
# Encontramos los valores únicos del array_4
np.unique(random)

array([0, 1, 2, 3, 4, 5, 6, 8, 9])

In [38]:
# Extraemos el elemento de índice 1 del array_4
random[1]

array([5, 8, 9, 1, 2])

In [40]:
# Extraemos las primeras dos filas del array_4
random[0:2]

array([[3, 8, 8, 8, 0],
       [5, 8, 9, 1, 2]])

In [41]:
# Extraemos los dos primeros datos de las primeras dos filas del array_4
random[:2,:2]

array([[3, 8],
       [5, 8]])

In [44]:
# Creamos dos arrays de tamaño 3x4: uno relleno de números aleatorios entre 0 y 10, y otro relleno de unos
array_5 = np.random.randint(0,10,(3,4))
array_6 = np.ones((3,4))

In [45]:
# invocamos el array_5
array_5

array([[1, 1, 7, 0],
       [7, 8, 4, 9],
       [0, 4, 7, 0]])

In [46]:
# invocamos el array_6
array_6

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [47]:
# Sumamos los dos arrays
array_7 = array_6 + array_5
array_7

array([[ 2.,  2.,  8.,  1.],
       [ 8.,  9.,  5., 10.],
       [ 1.,  5.,  8.,  1.]])

In [48]:
# Creamos ahora un array de tamaño (4,3) lleno de unos
array_8 = np.ones((4,3))

In [49]:
# Intentaremos sumar los arrays 6 y 7
array_9 = array_8 + array_7

ValueError: ignored

¿A qué se debe el error anterior? ¿Qué deberíamos tener en cuenta para que no suceda?

In [50]:
# Entonces crearemos otro array de tamaño (4,3) lleno de unos
array_10 = np.ones((4,3))

In [59]:
# Restamos el array_8 al array_7
array_11 = array_10 - array_8
array_11

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [52]:
# Creamos otros dos arrays de tamaño 3x3 con números aleatorios del 1 al 5
array_12 = np.random.randint(1,5,(3,3))
array_13 = np.random.randint(1,5,(3,3))

In [53]:
# invocamos el array_9
array_12

array([[2, 4, 2],
       [3, 3, 1],
       [4, 4, 1]])

In [54]:
# invocamos el array_10
array_13

array([[4, 2, 2],
       [2, 1, 2],
       [2, 2, 3]])

In [55]:
# Multiplicamos los últimos dos arrays entre sí
array_14 = array_13 * array_12
array_14

array([[8, 8, 4],
       [6, 3, 2],
       [8, 8, 3]])

In [61]:
# Elevamos el array_9 al cuadrado
array_15 = array_12 ** 2
array_15

array([[ 4, 16,  4],
       [ 9,  9,  1],
       [16, 16,  1]])

In [60]:
# Buscamos la raíz cuadrada del array_10
np.sqrt(array_13)

array([[2.        , 1.41421356, 1.41421356],
       [1.41421356, 1.        , 1.41421356],
       [1.41421356, 1.41421356, 1.73205081]])

In [64]:
# Hallamos el promedio de los valores del array_9
array_12.mean()

2.6666666666666665

In [62]:
# Hallamos el valor máximo de los valores del array_9
array_18 = np.max(array_12)
array_18

4

In [63]:
# Hallamos el valor mínimo de los valores del array_9
array_19 = np.min(array_12)
array_19

1

In [66]:
# Cambiamos la forma del array_9 por una de 9x1, y lo almacenamos como array_11
array_19 = array_12.reshape((9,1))

In [67]:
# invocamos el array_11
array_19

array([[2],
       [4],
       [2],
       [3],
       [3],
       [1],
       [4],
       [4],
       [1]])

In [68]:
# Transponemos el array_11
array_19.T

array([[2, 4, 2, 3, 3, 1, 4, 4, 1]])

In [69]:
# Comparamos el array_9 y el array_10, para saber cuáles elementos del array_9 son mayores a los del array_10
array_20 = array_12 > array_13
array_20

array([[False,  True, False],
       [ True,  True, False],
       [ True,  True, False]])

¿Qué tipos de datos forman parte del array de resultados?

In [71]:
# Veamos sus nuevos tipos de datos
array_20.dtype

dtype('bool')

In [72]:
# Alguno de los elementos del array_9 es igual su equivalente del array_10?
array_12 == array_13

array([[False, False,  True],
       [False, False, False],
       [False, False, False]])

In [73]:
# Comparamos nuevamente ambos arrays, en esta ocasión con >=
array_12 >= array_13

array([[False,  True,  True],
       [ True,  True, False],
       [ True,  True, False]])

In [75]:
# Buscamos los elementos del array_9 que son mayores a 2
array_12 > 2

array([[False,  True, False],
       [ True,  True, False],
       [ True,  True, False]])

In [76]:
# Ordenamos de menor a mayor los elementos dentro del array_9
np.sort(array_12)

array([[2, 2, 4],
       [1, 3, 3],
       [1, 4, 4]])