<a href="https://colab.research.google.com/github/PythonJulianPrieto/CienciaDeDatos/blob/main/ModeloNoSupervisadoKmeans.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#MODELO NO SUPERVISADO

In [ ]:
# importar librerias genericas de pandas
import pandas as pd
import numpy as np
#Librerias de graficos
import matplotlib.pyplot as plt
from matplotlib import colors
import seaborn as sb
%matplotlib inline

#Librerias Kmeans
from sklearn.cluster import KMeans
from sklearn.preprocessing import scale
from sklearn.metrics import silhouette_score

# from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/adiacla/bigdata/master/vivienda_clasif.csv', sep=',')

In [ ]:
df = df.drop('Clasificacion',axis=1)

In [ ]:
df

     Habitaciones  Area_parqeo  Area_total  Valor_Miles
0               4         4.98         153       504000
1               4         9.14         178       453600
2               5         4.03         178       728700
3               4         2.94         187       701400
4               5         5.33         187       760200
..            ...          ...         ...          ...
484             4         9.67         210       470400
485             4         9.08         210       432600
486             4         5.64         210       501900
487             4         6.48         210       462000
488             4         7.88         210       249900

[489 rows x 4 columns]

###Tengo unos datos de unas viviendas y quiero que me las agrupe por algun criterio, por mayor similitud

##Escalar los datos

In [ ]:
ArrayEsc = scale(df)

In [ ]:
ArrayEsc

array([[ 0.36111086, -1.1250769 , -1.5250831 ,  0.30064004],
       [ 0.36111086, -0.53706982, -0.33974768, -0.00449803],
       [ 1.72997296, -1.25935736, -0.33974768,  1.66104726],
       ...,
       [ 0.36111086, -1.03178731,  1.17748167,  0.28792595],
       [ 0.36111086, -0.91305511,  1.17748167,  0.04635831],
       [ 0.36111086, -0.71516812,  1.17748167, -1.23776439]])

In [ ]:
#Crear el objeto Kmeans
modeloKmeans = KMeans(n_clusters=4, n_init=25, random_state=123)
modeloKmeans.fit(X=ArrayEsc)

KMeans(n_clusters=4, n_init=25, random_state=123)

In [ ]:
yPrediccion = modeloKmeans.predict(X=ArrayEsc)

In [ ]:
yPrediccion

array([1, 1, 3, 1, 3, 1, 1, 1, 2, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 2, 0,
       0, 2, 0, 0, 0, 0, 0, 0, 2, 0, 2, 0, 0, 0, 0, 0, 0, 1, 3, 1, 1, 1,
       1, 0, 0, 0, 2, 0, 1, 1, 1, 1, 0, 3, 1, 1, 1, 0, 0, 0, 1, 1, 3, 1,
       1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 3, 1, 1, 1, 1, 1, 1, 1, 3, 3, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 2, 0, 0, 2, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 2, 0, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 1, 1, 1, 1,
       1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3,
       3, 1, 3, 1, 1, 1, 1, 1, 3, 3, 1, 3, 1, 1, 3, 3, 3, 1, 3, 1, 3, 3,
       0, 1, 0, 1, 2, 0, 2, 0, 1, 2, 1, 1, 1, 1, 1, 1, 0, 1, 1, 3, 3, 3,
       3, 1, 1, 3, 3, 3, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 3, 1, 1, 3, 3, 1, 3, 3, 3, 3, 3, 1, 3, 3, 0, 0, 1, 1, 3,
       1, 1, 3, 1, 1, 3, 3, 3, 3, 3, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1,
       1, 1, 3, 1, 1, 1, 1, 3, 1, 3, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       3, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 2, 2, 0, 2, 0, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0,
       0, 2, 0, 0, 0, 0, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 0, 2, 0, 0, 0, 2,
       2, 2, 2, 2, 2, 2, 2, 0, 0, 0, 2, 0, 2, 0, 0, 2, 2, 0, 0, 0, 0, 0,
       2, 0, 2, 2, 2, 2, 0, 0, 0, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 2, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 2, 2, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0,
       0, 0, 0, 0, 0], dtype=int32)

In [ ]:
ydf = pd.DataFrame(yPrediccion)

In [ ]:
# Colocarle nombres a la matrizdf
ydf.columns = ['Cluster que pertenece' ]

In [ ]:
ydf

     Cluster que pertenece
0                        1
1                        1
2                        3
3                        1
4                        3
..                     ...
484                      0
485                      0
486                      0
487                      0
488                      0

[489 rows x 1 columns]

In [ ]:
df = pd.concat([df,ydf], axis =1)

In [ ]:
df.groupby(['Cluster que pertenece']).size()

Cluster que pertenece
0    193
1    173
2     71
3     52
dtype: int64

##SUPONER COMO SE LLAMAN LAS CATEGORIAS
##Tipo 'Cero' = Casa Basica
##Tipo 'Uno' = Casa Mejorada
##Tipo 'Dos' = Casa VIP
##Tipo 'Tres' = Casa Quinta

In [ ]:
df['Cluster que pertenece' ] = df['Cluster que pertenece' ].replace({0:'Casa Basica',1:'Casa Mejorada',2:'Casa VIP',3:'Casa Quinta'})

In [ ]:
df

     Habitaciones  Area_parqeo  Area_total  Valor_Miles Cluster que pertenece
0               4         4.98         153       504000         Casa Mejorada
1               4         9.14         178       453600         Casa Mejorada
2               5         4.03         178       728700           Casa Quinta
3               4         2.94         187       701400         Casa Mejorada
4               5         5.33         187       760200           Casa Quinta
..            ...          ...         ...          ...                   ...
484             4         9.67         210       470400           Casa Basica
485             4         9.08         210       432600           Casa Basica
486             4         5.64         210       501900           Casa Basica
487             4         6.48         210       462000           Casa Basica
488             4         7.88         210       249900           Casa Basica

[489 rows x 5 columns]